<!DOCTYPE html>
<html>
<head>
  <title>Weather Result</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <% if (city) { %>
      <h2>Weather in <%= city %></h2>
      <img src="https://openweathermap.org/img/wn/<%= icon %>@2x.png" alt="icon">
      <p>Temperature: <%= temp %>°C</p>
      <p>Humidity: <%= humidity %>%</p>
      <p>Description: <%= desc %></p>
      <a href="/">Search again</a>
    <% } else { %>
      <h2><%= error %></h2>
      <a href="/">Try again</a>
    <% } %>
  </div>
</body>
</html>
